.header {
  text-align: center;

  color: var(--red);

  font-size: 48px;
  font-family: 'Archangelsk';

  margin: 30px auto;
}

.cards__wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 10px;

  height: 200px;
  width: 600px;

  background-color: var(--background-light);

  border-radius: 10px;

  transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 5px 15px #fb6467ff);

  cursor: pointer;
}

.card__img {
  display: flex;

  width: 100px;
  height: 100px;

  padding: 10px 0 0 10px;

  border-radius: 16px;
}

.card__header__wrapper {
  display: flex;
  flex-direction: column;

  margin: 10px 0 0 10px;

  height: 90px;
  width: 200px;

  font-family: 'Archangelsk';
}

.card__header {
  display: flex;

  height: 48px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: white;

  font-size: 24px;
  text-decoration: none;

  align-items: center;
}

.card__status {
  margin-left: 10px;
  margin-top: 10px;

  font-size: 18px;

  color: var(--red);
}

.card__details {
  height: 18px;

  display: flex;

  color: var(--orange);

  font-size: 18px;
  font-family: 'Archangelsk';
  text-decoration: none;
}

.card__info {
  display: flex;
  flex-direction: column;

  gap: 10px;

  justify-content: center;

  margin-left: 20px;
}

.card__category {
  color: var(--cyan);

  font-size: 18px;
  font-family: 'Archangelsk';
}

.filters {
  display: flex;
  justify-content: center;

  margin: 10px auto;
}

.filter {
  background-color: transparent;

  border: 0 solid black;
  border-radius: 10px;

  color: var(--red);

  margin: 0 20px;
  padding: 10px;

  text-align: center;

  outline: none;

  transition: 0.3s all ease;
}

.filter:hover {
  border: 1px solid var(--red);
}

.filter:focus {
  border: 1px solid var(--red);
}

.popup {
  display: flex;
  flex-direction: row;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 14;

  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);

  justify-content: center;
  align-items: center;
}

.popup__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  width: 600px;
  height: 500px;

  border-radius: 10px;

  background-color: var(--background);
  filter: drop-shadow(0 5px 15px #fb6467ff);

  transition: 0.3s all ease;

  font-family: 'Archangelsk';
}

.popup__name {
  width: 100%;
  height: 48px;

  text-align: center;

  font-size: 48px;

  color: var(--red);

  margin: 10px 0 10px 0;
}

.popup__image {
  order: 1;

  width: 200px;
  height: 200px;

  border-radius: 10px;

  margin: 0 20px 20px 20px;

  transition: 0.3s all ease;
}

.popup__image:hover {
  transform: scale(1.1);
}

.popup__stats {
  order: 2;

  display: flex;
  flex-direction: column;

  gap: 16px;

  font-size: 22px;

  color: var(--pink);
}

.popup__button {
  position: absolute;
  bottom: 25px;

  width: 100px;
  height: 30px;

  background-color: transparent;

  border: 1px solid var(--red);
  border-radius: 10px;

  color: white;

  font-family: 'Archangelsk';
  font-size: 22px;

  transition: 0.3s all ease;
}

.popup__button:hover {
  transform: scale(1.1);

  background-color: var(--red);
  color: black;
}

.popup__stats > p > span {
  color: white;
}

.popup__stats > p > a {
  color: var(--red);

  transition: 1s all ease;
}

.popup__stats > p > a:hover {
  cursor: pointer;

  color: white;
}
