.header {
  text-align: center;

  color: var(--red);

  font-size: 48px;
  font-family: 'Archangelsk';

  margin: 30px auto;
}

.cards__wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 10px;

  height: 200px;
  width: 600px;

  background-color: var(--background-light);

  border-radius: 10px;

  transition: 0.3s all ease;
}

.card:hover {
  transform: scale(1.02);
  filter: drop-shadow(0 5px 15px #fb6467ff);

  cursor: pointer;
}

.card__img {
  display: flex;

  width: 100px;
  height: 100px;

  padding: 10px 0 0 10px;

  border-radius: 16px;
}

.card__header__wrapper {
  display: flex;
  flex-direction: column;

  margin: 10px 0 0 10px;

  height: 90px;
  width: 200px;

  font-family: 'Archangelsk';
}

.card__header {
  display: flex;

  height: 48px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: white;

  font-size: 24px;
  text-decoration: none;

  align-items: center;
}

.card__status {
  margin-left: 10px;
  margin-top: 10px;

  font-size: 18px;

  color: var(--red);
}

.card__details {
  height: 18px;

  display: flex;

  color: var(--orange);

  font-size: 18px;
  font-family: 'Archangelsk';
  text-decoration: none;
}

.card__info {
  display: flex;
  flex-direction: column;

  gap: 10px;

  justify-content: center;

  margin-left: 20px;
}

.card__category {
  color: var(--cyan);

  font-size: 18px;
  font-family: 'Archangelsk';
}

.filters {
  display: flex;
  justify-content: center;

  margin: 10px auto;
}

.filter {
  background-color: transparent;

  border: 0 solid black;
  border-radius: 10px;

  color: var(--red);

  margin: 0 20px;
  padding: 10px;

  text-align: center;

  outline: none;

  transition: 0.3s all ease;
}

.filter:hover {
  border: 1px solid var(--red);
}

.filter:focus {
  border: 1px solid var(--red);
}
